@model ProductManagement.Models.Tbl_Category

@{
    ViewBag.Title = "Addcat";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="navbar navbar-inverse" style="width:88%;margin-top:-88px;"> <center><h2 style="color:white">Add Category</h2></center></div>
@if (ViewBag.msg != null)
{
    <div class="alert alert-danger">
        <strong>@ViewBag.msg</strong>
    </div>
}
@if (@TempData["msg"] != null)
{
    <div class="alert alert-success" style="text-align:center">
        <strong>@TempData["msg"]</strong>
    </div>
}
@if (@TempData["msg1"] != null)
{
    <div class="alert alert-success" style="text-align:center">
        <strong>@TempData["msg1"]</strong>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="margin-left:200px;">
            @Html.LabelFor(model => model.C_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.C_Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.C_Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group" style="margin-left:200px;">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Add Category" class="btn btn-warning btn-block" />
            </div>
        </div>
    </div>
}
<br />
<br />
<h2 style="color:black;font-weight:bold;margin-left:400px;">View Products</h2>
<br />

<div style="width:50%;margin-left:250px;" class="table">

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category Name</th>
                <th>Update|Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["list"] as List<ProductManagement.Models.Tbl_Category>)
            {
                <tr>
                    <td>@item.C_Id</td>
                    <td>@item.C_Name</td>
                    <td>

                        <input type="button" class="btn-info" style="margin-left:-60px;height:34px;margin-top:-20px;width:100px;border-radius:5px;" value="Update" onclick="window.location.href='@Url.Action("Editcat","Home", new { id = item.C_Id } )';" />

                        <input type="button" class="btn-danger" style="margin-left:10px;height:34px;margin:3px;width:100px;border-radius:5px;" value="Delete" onclick="window.location.href='@Url.Action("Deletecat","Home", new { id = item.C_Id } )';" />

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
   